# 全ファイルを無視
*

!.gitignore
!.gitkeep

!*.go

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/dependabot.yml
!/.github/zizmor.yml

!/examples/
!/testdata/
!/testdata/*.csv

!/.editorconfig
!/.golangci.yml
!/commitlint.config.cjs
!/go.mod
!/go.sum
!/lefthook.yaml
!/LICENSE
!/mise.toml
!/README.md
